Sales Lead Qualification and Outreach Automation/Sales Lead Qualification and Outreach Automation copy.json
{
  "name": "Sales Lead Qualification and Outreach Automation",
  "nodes": [
    {
      "parameters": {
        "path": "fd094e3f-c5b5-4e83-aa76-73cfe5722296",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        112,
        -416
      ],
      "id": "95403fe6-5687-4449-9fb9-30e075f5df85",
      "name": "Webhook",
      "webhookId": "fd094e3f-c5b5-4e83-aa76-73cfe5722296"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        368,
        -416
      ],
      "id": "218cf526-4fa7-4460-b91f-e654f0774c79",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "endpointUrl": "http://localhost:3004/sse",
        "serverTransport": "httpStreamable"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        464,
        -192
      ],
      "id": "17f61f7d-fe47-4bfd-a41c-0758b2dd4844",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        336,
        -192
      ],
      "id": "07052edc-4bb2-4c15-b7ac-d129f8ba5927",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "iv1r5q9QqvTklRpc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "curlImport": "",
        "httpVariantWarning": "",
        "method": "POST",
        "url": "https://api.vapi.ai/call",
        "": "",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "convertApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": false,
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1024,
        -512
      ],
      "id": "a50363b6-f284-4611-aca1-e9912def613c",
      "name": "ConvertAPI HTTP Request",
      "extendsCredential": "convertApi",
      "credentials": {
        "convertApi": {
          "id": "5J00aTGNaw08NJVo",
          "name": "ConvertAPI account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        592,
        -192
      ],
      "id": "592536f9-74df-4242-b8b8-a5b18ddc7348",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b59b8f1b-ca07-45ae-b545-071d38e1493c",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        800,
        -512
      ],
      "id": "44113d16-0a34-4f87-8887-f78fad145c20",
      "name": "If need to place outreach call"
    },
    {
      "parameters": {
        "path": "fd094e3f-c5b5-4e83-aa76-73cfe5722296",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -16,
        484
      ],
      "id": "488ef923-6879-4919-b56e-d8c9b53f79f0",
      "name": "Webhook1",
      "webhookId": "fd094e3f-c5b5-4e83-aa76-73cfe5722296"
    },
    {
      "parameters": {
        "email": "={{ $json.hubspotContactEmail }}",
        "additionalFields": {},
        "options": {}
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.1,
      "position": [
        800,
        -320
      ],
      "id": "980eec9b-cff1-461f-98b5-2549212a46de",
      "name": "Create or update a contact",
      "credentials": {
        "hubspotApi": {
          "id": "LUjZm0LOcj9cXvoS",
          "name": "HubSpot account"
        }
      }
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        208,
        484
      ],
      "id": "6bdad260-3866-48f3-baf2-57918c3fa26a",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        208,
        704
      ],
      "id": "74aa3b15-5d98-4368-b8f2-37fd5a8a5354",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "iv1r5q9QqvTklRpc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        400,
        704
      ],
      "id": "080ef0dd-0d9e-4ccf-9fa4-a0899d68c892",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "email": "={{ $json.hubspotContactEmail }}",
        "additionalFields": {},
        "options": {}
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.1,
      "position": [
        952,
        632
      ],
      "id": "868eedb0-e8d7-44af-8716-f3da1a1b7f77",
      "name": "Create or update a contact1",
      "credentials": {
        "hubspotApi": {
          "id": "LUjZm0LOcj9cXvoS",
          "name": "HubSpot account"
        }
      }
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        960,
        208
      ],
      "id": "a574f286-fdf3-4a2b-9576-12e0fff80035",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "endpointUrl": "http://localhost:3004/sse"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        1024,
        464
      ],
      "id": "a1f3ef78-ef64-40b6-9066-8c1ffe84a42a",
      "name": "MCP Client1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        864,
        464
      ],
      "id": "17049a8f-d066-4e50-a1f4-05e9a60b468e",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "iv1r5q9QqvTklRpc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1152,
        448
      ],
      "id": "39799d2b-0925-4ec0-9796-a9cadfd15e90",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "email": "={{ $json.hubspotContactEmail }}",
        "additionalFields": {},
        "options": {}
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.1,
      "position": [
        1520,
        336
      ],
      "id": "56809bda-b9e3-4753-8ed0-aabb94609116",
      "name": "Create or update a contact2",
      "credentials": {
        "hubspotApi": {
          "id": "LUjZm0LOcj9cXvoS",
          "name": "HubSpot account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b59b8f1b-ca07-45ae-b545-071d38e1493c",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        608,
        484
      ],
      "id": "b257df88-7dcb-4929-a42b-7e59a18b0dad",
      "name": "If need to place outreach call1"
    },
    {
      "parameters": {
        "content": "Lead Capture and Initial Qualification",
        "height": 560,
        "width": 1376
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        -560
      ],
      "typeVersion": 1,
      "id": "d0a33890-1dde-4e5f-9c56-1e5ca54789e1",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Post-Call Processing and Meeting Scheduling",
        "height": 784,
        "width": 1984
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -144,
        176
      ],
      "typeVersion": 1,
      "id": "7fc68f5d-0820-4c45-b861-3c51f101c8a1",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If need to place outreach call",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create or update a contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "If need to place outreach call": {
      "main": [
        [
          {
            "node": "ConvertAPI HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "If need to place outreach call1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Create or update a contact2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "If need to place outreach call1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create or update a contact1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9048679c-90b7-4b1a-b426-aa0a2a47d03f",
  "meta": {
    "instanceId": "55b0a2598ab91ea335ba93632bbf369c5d1ac96063ea53c9c3141ed4138f77b5"
  },
  "id": "PxJoRf6pYWoS6lvJ",
  "tags": []
}